:root {
  --pure-white: #fff;
  --radial-bg: radial-gradient(50% 48.71% at 50% 50%, #fffef3 0%, #fffef3 100%);
  --radial-bg: radial-gradient(50% 48.71% at 50% 50%, #fff175 0%, #ffe500 100%);
  --grey-text: #6f6f6f;
  --white-text: #fffef3;
  --white-text-hover: #fffbd3;
  --yellow-bg: #ffe500;
  --while-open-bg: #fffef3;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  color: var(--grey-text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
