.hero {
  display: flex;
  overflow: hidden;
}
.hero__array {
  opacity: 8;
  width: 40vw;
  height: 100vh;
  background: var(--white-text);
  position: relative;
  z-index: 1002;
  padding: 80px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1200px) {
    width: 0vw;
    padding: 0;
  }
  &-open {
    width: 100vw;
    background: var(--while-open-bg);
  }
  &-list {
    max-width: 740px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--yellow-bg);
    padding: 60px 160px 60px 60px;
    border-radius: 12px;
    box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.1);
    @media screen and (max-width: 900px) {
      max-width: 80%;
      padding: 40px 30px 40px 30px;
    }
  }
  &-item {
    margin-bottom: 40px;
    @media screen and (max-width: 1200px) {
      margin-bottom: 20px;
    }
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  &-title {
    margin-bottom: 20px;
    font-size: 19px;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
}

.hero__about {
  margin-top: auto;
  font-size: 16px;
  opacity: 0.7;
  display: flex;
  gap: 10px;
  @media screen and (max-width: 1200px) {
    opacity: 0;
    pointer-events: none;
  }
}

.hero-svg {
  width: 20px;
  height: 20px;
  fill: var(--grey-text);
  display: block;
  margin-right: auto;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    fill: #8a8a8a;
  }
}

.inner {
  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    @media screen and (max-width: 1200px) {
      gap: 10px;
    }
  }
  &-item {
    background-color: var(--white-text);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 16px;
    border-radius: 12px;
    font-size: 16px;
    box-shadow: 1px 5px 15px -12px rgba(0, 0, 0, 0.43);
    -webkit-box-shadow: 1px 5px 15px -12px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 1px 5px 15px -12px rgba(0, 0, 0, 0.43);
    @media screen and (max-width: 1200px) {
      font-size: 14px;
    }
  }
}

.animateForvard {
  animation: animationOnMoveForvard 0.7s ease-in;
}

.animateBack {
  animation: animationOnMoveBack 0.7s ease-in;
}

@keyframes animationOnMoveForvard {
  0% {
    width: 40vw;
    background: var(--white-text);
  }
  100% {
    width: 100vw;
    background: var(--while-open-bg);
  }
}

@keyframes animationOnMoveBack {
  0% {
    width: 100vw;
    background: var(--while-open-bg);
  }
  100% {
    width: 40vw;
    background: var(--white-text);
  }
}

.animateForvardMain {
  animation: animationOnMoveForvardMain 0.7s ease-in;
}

.animateBacMain {
  animation: animationOnMoveBackMain 0.7s ease-in;
}

@keyframes animationOnMoveForvardMain {
  0% {
    width: 60vw;
  }
  100% {
    width: 0vw;
  }
}

@keyframes animationOnMoveBackMain {
  0% {
    width: 0vw;
  }
  100% {
    width: 60vw;
  }
}

.hero__paragraph {
  font-size: 16px;
  line-height: 34px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  margin-top: auto;
  @media screen and (max-width: 1200px) {
    display: none;
  }
  &-list {
  }
}

.hero__button {
  box-sizing: border-box;
  font-weight: 200;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.1em;
  width: 240px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  width: 212px;

  &:hover {
    border-bottom: 2px solid rgb(185, 185, 185);
  }
}

.hero__main {
  position: relative;
  background: var(--radial-bg);
  width: 60vw;
  height: 100vh;
  @media screen and (max-width: 1200px) {
    width: 100vw;
  }
}

.hero__main-open {
  width: 0vw;
}

.hero__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}

.hero__content-open {
  display: none;
}

.hero__title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  @media screen and (max-width: 768px) {
    margin-bottom: 40px;
  }
}
.hero__list {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  :hover {
    background-color: var(--white-text-hover);
    box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.7);
  }
}
.hero__item {
  font-weight: 200;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.1em;
  background-color: var(--white-text);
  width: 154px;
  height: 46px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.31);
  -webkit-box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: -1px 25px 24px -21px rgba(0, 0, 0, 0.31);
  cursor: pointer;
  transition: 0.3s;
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
}

.hero__image {
  margin-right: 10px;
  display: block;
  &--salat {
    width: 30px;
    height: 30px;
  }
  &--omlet {
    width: 26px;
    height: 26px;
  }
  --drink {
    width: 26px;
    height: 26px;
  }
  &--again {
    width: 44px;
    height: 44px;
    margin-right: 0;
  }
}

// ----------------------
.hero__svg {
  position: absolute;
  letter-spacing: 0.2em;
  z-index: 1000;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  &--right {
    &-small {
      top: 100px;
      left: 100px;
      width: 80%;
      height: 80%;
      animation: rotateLeft linear 20s infinite;
      opacity: 0.6;
    }
    &-big {
      top: 40px;
      left: 40px;
      width: 60%;
      height: 60%;
      animation: rotateRight linear 20s infinite;
      opacity: 0.55;
    }
    &-smaller {
      top: 20px;
      left: 20px;
      width: 30%;
      height: 30%;
      animation: rotateLeft linear 20s infinite;
      opacity: 0.5;
    }
  }
}

@keyframes rotateLeft {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateRight {
  to {
    transform: rotate(-360deg);
  }
}

.hero__text {
  font-size: 26px;
  fill: white;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
